
body {
	font-family: arial;
  }
  
  .account_form h1 {
	font-size: 36px;
	text-align: center;
	color: #45aba6;
	margin-top: 10px;
	margin-bottom: 30px;
	font-weight: normal;
  }
  .account_form strong {
	  width: 100%;
	  font-size: 20px;
	  color: #666;
	  text-align: left;
	  float: left;
  }
  .account_form .userReg{
	  display: inline-block;
	  width : 70%;
  }
  .account_form .userRegB{
	width : 25%;
	display: inline-block;
	padding-left: 30px;
	}
	.account_form .form-group .bar{
		margin-top:2rem;
		font-size: 2rem;
		margin-bottom:1rem;
		width: 5%;
	}
	.account_form .function-btn{
		padding-left: 0px;
	}
  .account_form {
	  display: table;
	  background: #fff;
	  width: 450px;
	  border-radius: 6px;
	  margin: auto;
	  padding: 15px 30px 30px;
	  box-sizing: border-box;
	  -webkit-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
	  position:absolute;
	  transform: translate(-50%,-50%);
	  top:50%;
	  left:50%;
  }

  #account_body{
	  top:0;
	  left:0;
	  display: table;
	  visibility:hidden;
	  position: fixed;
	  z-index:999;
	  opacity: 0;
	  width:100%;
	  height:100%;
	  background:#151515;
	  -webkit-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
  }
  body.account-is-visible{
	  overflow:hidden;
  }
  .account-is-visible #account_body{
	 opacity: 1;
	 visibility: visible;
  }
  .form-group {
	float: left;
	width: 100%;
	margin: 0px;
	position: relative;
  }
  .account_form input {
	  width: 100%;
	  padding: 3px;
	  height: 40px;
	  border-radius: 74px;
	  border: 1px solid #ccc;
	  box-sizing: border-box;
	  font-size: 15px;
	  padding-left: 45px;
  }
  .account_form .form-group .input-icon {
	  font-size: 15px;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: flex;
	  align-items: center;
	  position: absolute;
	  border-radius: 25px;
	  bottom: 0;
	  height: 100%;
	  padding-left: 35px;
	  color: #666;
  }
  .account_form .function-btn {
	background: #45aba6;
	border-color: #45aba6;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	border: 1px solid #45aba6;
	border-radius: 44px;
	width: 100%;
	height: 56px;
	cursor: pointer;
  }
  .account_form .reset-psw {
	float: left;
	width: 100%;
	text-decoration: none;
	color: #45aba6;
	font-size: 14px;
	text-align: center;
	margin-top: 11px;
  }
  .account_form .social-icon button {
	  font-size: 20px;
	  color: white;
	  height: 50px;
	  width: 50px;
	  background: #45aba6;
	  border-radius: 60%;
	  margin: 0px 10px;
	  border: none;
	  cursor: pointer;
  }
  .account_form button:hover{
	opacity: 0.9;
  }
  .account_form .seperator {
	float: left;
	width: 100%;
	border-top: 1px solid #ccc;
	text-align: center;
	margin: 50px 0 0;
  }
  .account_form .seperator b {
	width: 40px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	background: #fff;
	display: inline-block;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	position: relative;
	top: -22px;
	z-index: 1;
  }
  .account_form p {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 16px;
	margin: 0 0 10px;
  }
  @media screen and (max-width:767px) {
  .account_form {
	  width: 90%;
	  padding: 15px 15px 30px;
  }
  
  }