.title{
color: #fff;
    font-size: 22px;
    font-weight: 700;
    -webkit-letter-spacing: -0.4px;
    -moz-letter-spacing: -0.4px;
    -ms-letter-spacing: -0.4px;
    letter-spacing: -0.4px;
    line-height: 30px;
}

/* 반응형폰트 */
.rr{ font-size: 1vw; 
}

input[type="text"],
select{
   display: inline;
}
	

div.distribution h4					{margin:25px 0 0 0; padding:0 0 0 20px;  font:bold 14px/16px  'NanumGothic','나눔고딕','Malgun Gothic','돋움','굴림','Arial'; color:#333;  background:url("../_img/cont/icon01.gif") no-repeat 7px 3px}
div.distribution table				{width:99%; margin:10px auto 0 auto; border-top:2px solid #666}
div.distribution table thead th		{text-align:center; padding:5px 0 4px 0;}
div.distribution table td.c			{padding:5px 5px 5px 5px; text-align:center; border-bottom:1px solid #ddd; font:normal 12px/16px  'NanumGothic','나눔고딕','Malgun Gothic','돋움','굴림','Arial'; color:#555;}
div.distribution table th			{padding:5px 0 4px 20px; height:24px;  text-align:left; border-bottom:1px solid #ddd; background:#f5f5f5; font:bold 12px/16px  'NanumGothic','나눔고딕','Malgun Gothic','돋움','굴림','Arial'; color:#555;}
div.distribution table th span		{color:red}
div.distribution table td			{padding:5px 7px 5px 7px; text-align:left; border-bottom:1px solid #ddd; font:normal 12px/16px  'NanumGothic','나눔고딕','Malgun Gothic','돋움','굴림','Arial'; color:#555;}
div.distribution table td .type01	{padding:2px 0 0 5px; height:20px; border:1px solid #ccc; font:normal 13px/16px  'NanumGothic','나눔고딕','Malgun Gothic','돋움','굴림','Arial'; color:#555;}
div.distribution table td .type02	{padding:2px 0 0 5px; height:20px; border:1px solid #ccc; font:normal 12px/16px  'NanumGothic','나눔고딕','Malgun Gothic','돋움','굴림','Arial'; color:#555;}
div.distribution table td .tt01		{font:normal 11px/16px  'NanumGothic','나눔고딕','Malgun Gothic','돋움','굴림','Arial'; color:#ff6c00;}
div.distribution table td .tt02		{font:bold 11px/16px  'NanumGothic','나눔고딕','Malgun Gothic','돋움','굴림','Arial'; color:#f90000;}
div.distribution table td select	{padding:0 0 0 5px; height:24px; border:1px solid #ccc; font:normal 12px/16px  'NanumGothic','나눔고딕','Malgun Gothic','돋움','굴림','Arial'; color:#555;}
div.distribution table td textarea	{width:97%; padding:2px 0 0 5px; border:1px solid #ccc; font:normal 13px/16px  'NanumGothic','나눔고딕','Malgun Gothic','돋움','굴림','Arial'; color:#555;}

#box{
	margin-right: 10%;
	margin-left: 10%;
}

.masonry{top:15px}

