/* responsive 占쏙옙占쏙옙占싱듸옙 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.rslides {	
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0 auto 40px;
	max-height: 300px;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: none;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border-width:0px;
	border-style: in
}

.rslides_tabs li:first-child {
	margin-left: 0;
}

.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
}

.rslides_tabs a {
	width: auto;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
	background: transparent;
	display: inline;
	color: #e0e0e0;
}


/* 占쏙옙占쏙옙 */

.starR {
	background:
		url('http://miuu227.godohosting.com/images/icon/ico_review.png')
		no-repeat right 0;
	background-size: auto 100%;
	width: 50px;
	height: 50px;
	display: inline-block;
	text-indent: -9999px;
	cursor: pointer;
}

.starR.on{background-position:0 0;}

/* wrapper */

.wrapper {
    margin: 6.5em 0;
    position: relative;
}

.wrapper.spotlight .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.wrapper.spotlight .image {
    border-radius: 100%;
    margin: 0 3em 2em 0;
    width: 22em;
    overflow: hidden;
    -ms-flex: 1;
}

.wrapper.spotlight .content {
    width: 100%;
    -ms-flex: 2;
}

/* image */

.wrapper.spotlight .image img {
    border-radius: 100%;
    width: 100%;
}

.image img {
    border-radius: 5px;
    display: block;
}

.s-content__main img {
    max-width: 800px;
    margin: auto;
}

section.wrapper.style1, article.wrapper.style1 {
    background: #f2f2f2;
}

section.special, article.special {
    text-align: center;
}

.inner {
    max-width: 75em;
    margin: 0 auto;
    max-width: 90%;
}

section.wrapper header, article.wrapper header {
    margin-bottom: 2em;
}

section.wrapper header, article.wrapper header {
    margin-bottom: 4em;
}

.flex {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.flex.flex-4 .box {
    width: 30%;
}

.box.person {
    border: solid 1px #777777;
    padding: 3em 1.5em;
}

.box {
    border: solid 1px #dbdbdb;
    margin-bottom: 1em;
   	margin-top: 1em;
    padding: 1.5em;
}

.box.person .image {
    margin-bottom: 1em;
}


.box.person .image img {
    max-width: 100%;
}

.image.round img {
    border-radius: 100%;
}

.image img {
    border-radius: 0;
    display: block;
}

.box.person h3 {
    margin: 0;
}

.comment {
	text-align:left;
}
/*諛뺤쑄�깭 異붽� rslide_nav
*/
    .rslides_nav{ 
      text-decoration: none;
      font-size:2rem;
      color:#a0a0a0;
      padding:10px 20px 10px 20px;
      margin:20px;
      display:inline-block;
      border-radius: 10px;
      transition:all 0.1s;
      background-color: #e0e0e0;
      border-bottom:5px solid #a0a0a0;
      font-family: 'Do Hyeon', sans-serif;
    }
/* 諛뺤쑄�깭 異붽� �쁺�솕�삁怨좏렪
*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 500; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-left: 0px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #000000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000000;
    width: 90%; /* Full width */
    height: 100%; /* Full height */                        
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-content iframe{
    width: 95%; /* Full width */
    height: 95%; /* Full height */   
    border: 1px solid #000000;
}
.legend {
    border: 1px solid #555555;
     border-radius: 5px 5px 5px 5px;
     font-size: 0.8em;
     margin: 10px;
      padding: 8px;
}
.bld {
     font-weight: bold;
}

/* 2020.08.10 ��二� 異붽� */
h1, li, p, span {
font-family: 'Do Hyeon', sans-serif;
}

h2, h3 {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 50px;
}

tr, td, th {
font-family: 'Do Hyeon', sans-serif;
font-size: 30px;
}

.legend {
font-family: 'Do Hyeon', sans-serif;
}

.comments-wrap, #cWebsite, #pct_img, .s-extra .tagcloud a {
font-family: 'Do Hyeon', sans-serif;
font-size: 30px;
}

/* 李쒕ぉ濡� 踰꾪듉, �삁怨좏렪 蹂닿린 踰꾪듉 */
#wish-add, #btn-preview {
font-family: 'Do Hyeon', sans-serif;
	font-size: 30px;
	width: 200px;
	height: 70px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: white;
	background: #0099FF;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

#wish-add:hover, #btn-preview:hover {
	background-color: white;
	box-shadow: 0px 15px 20px gray;
	color: black;
	transform: translateY(-7px);
}

/* �뒳�씪�씠�뱶 �씠�쟾, �떎�쓬 踰꾪듉 */
.rslides_nav {
font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
	width: 180px;
	height: 60px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: white;
	background: black;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.rslides_nav:hover {
	background: white;
	box-shadow: 0px 15px 20px gray;
	font-color: black;
	transform: translateY(-7px);
}

/* 諛곗슦 �쟾泥대낫湲�, �닲湲곌린 踰꾪듉, �뙎湲� �벑濡� 踰꾪듉, �뙎湲� �뜑蹂닿린 踰꾪듉 */
#btnActorShow, #btnActorHide, #btn-insertComment, #btn-moreComment {
font-family: 'Do Hyeon', sans-serif;
	font-size: 25px;
	width: 200px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: white;
	background: black;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

#btnActorShow:hover, #btnActorHide:hover, #btn-insertComment:hover, #btn-moreComment:hover {
	background-color: white;
	box-shadow: 0px 15px 20px gray;
	color: black;
	transform: translateY(-7px);
}

#movieDetailHeader {
	font-size: 70px;
}