<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminDAO">
<select id="getMovie" parameterType="hashmap" resultType="hashmap">
	SELECT m.*,group_concat(g.genre_title) as genre FROM movie_info m inner join movie_genre mg
	ON mg.movie_id = m.movie_id inner join genre_info g
	ON mg.genre_id = g.genre_id 
	group by m.movie_id  
	<if test="searchWord !=null">
	HAVING replace(movie_title,' ','') like "${searchWord}%"
	</if>
	order by m.opening_date desc
	LIMIT ${page}
</select>
<select id="getUser" parameterType="hashmap" resultType="account">
	SELECT * FROM user_info
	<if test="searchWord!=null">
	WHERE replace(user_id,' ','') like "${searchWord}%"
	</if>
	order by join_date desc
	LIMIT ${page}
</select>
<select id="getDiary" parameterType="hashmap" resultType="dairy">
	SELECT * FROM diary_info
	<if test="searchWord != null">
	WHERE replace(user_id,' ','') like "${searchWord}%"
	</if>
	ORDER BY reg_date desc
	LIMIT ${page}
</select>
<select id="getComment" parameterType="hashmap" resultType="hashmap">
	SELECT mc.*,m.movie_title FROM movie_comment mc INNER JOIN movie_info m
	ON mc.movie_id = m.movie_id
	<if test="searchWord != null">
	WHERE replace(mc.user_id,' ','') like "${searchWord}%"
	</if>
	ORDER BY mc.comment_reg_date desc
	LIMIT ${page}
</select>
<select id="getQna" parameterType="hashmap" resultType="qna">
	SELECT * FROM user_qna
	<if test="searchWord != null">
	WHERE replace(user_id,' ','') like "${searchWord}%"
	</if>
	ORDER BY qna_status asc,qna_reg_date desc
	LIMIT ${page}
</select>
<update id="updateQnaAnswer" parameterType="qna">
	UPDATE user_qna SET qna_answer=#{qnaAnswer},qna_status=#{qnaStatus}
	WHERE qna_id = #{qnaId}
</update>
<select id="getQnaAnswer" parameterType="qna" resultType="qna">
	SELECT * FROM user_qna WHERE qna_id = #{qnaId}
</select>
<select id="getIndieList" parameterType="hashmap" resultType="indie">
	SELECT im.*,sum(nvl(iu.indie_like,"0")) as indie_like,sum(nvl(iu.indie_hate,"0")) as indie_hate  FROM indie_movie_info im left outer join indie_user iu
	ON im.indie_id = iu.indie_id
	<if test="searchWord != null">
	WHERE replace(im.indie_title,' ','') like "${searchWord}%"
	</if>
	GROUP BY im.indie_id
	ORDER BY im.indie_confirm asc,im.indie_update_date desc
	LIMIT ${page}
</select>
<select id="getIndieOne" parameterType="indie" resultType="indie">
	SELECT * FROM indie_movie_info WHERE indie_id = #{indieId}
</select>
<update id="updateIndieConfirm" parameterType="indie">
	UPDATE indie_movie_info SET indie_confirm = #{indieConfirm}
	WHERE indie_id = #{indieId}
</update>

<select id="getUserBanList" resultType="account" parameterType="account">
	select user_id,user_email from user_info where user_ban='1'
	<if test="userId != null">
		and user_id like '%${userId}%'
	</if>
</select>
<update id="allowUser" parameterType="account">
	UPDATE user_info SET user_ban = '0' WHERE user_id = #{userId}
</update>

<update id="banUser" parameterType="account">
	UPDATE user_info SET user_ban = '1' WHERE user_id = #{userId}
</update>
<delete id="deleteComment" parameterType="comment">
	DELETE FROM movie_comment WHERE
	movie_id=#{movieId} AND user_id  = #{userId}
</delete>
<select id="getUserScore" parameterType="hashmap" resultType="hashmap">
	SELECT ms.*,a.movie_title,a.genre_title FROM movie_score ms INNER JOIN 
	(SELECT  m.movie_id,m.movie_title,group_concat(g.genre_title) as genre_title
	 FROM movie_info m INNER JOIN movie_genre mg 
	ON mg.movie_id = m.movie_id INNER JOIN genre_info g
	ON mg.genre_id = g.genre_id 
	GROUP BY movie_id) a
	ON ms.movie_id=a.movie_id 
	<if test="searchWord != null">
	WHERE replace(ms.user_id,' ','') like "${searchWord}%"
	</if>
	ORDER BY ms.user_id desc
	LIMIT ${page}
</select>
	
</mapper>