<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ThreadInsertDAO">
<insert id="insertGenre" parameterType="genre" useGeneratedKeys="true" keyProperty="genreId">
	insert into genre_info (genre_title)
	SELECT #{genreTitle} from dual
	WHERE not exists (SELECT * FROM genre_info WHERE genre_title=#{genreTitle})
</insert>

<insert id="insertActor" parameterType="actor" useGeneratedKeys="true" keyProperty="actorId">
	insert into actor_info
	(actor_name
		<if test="actorEngName !=null">
	,actor_eng_name
	</if>
	<if test="actorRegId !=null">
	,actor_reg_id
	</if>
	)
	SELECT #{actorName}	
	<if test="actorEngName !=null">
	,#{actorEngName}
	</if>
	<if test="actorRegId !=null">
	,#{actorRegId}
	</if>
	FROM dual
	<if test="actorRegId !=null">
	WHERE not exists (SELECT * FROM actor_info WHERE actor_reg_id=#{actorRegId})
	</if>
</insert>

<insert id="insertDirector" parameterType="director" useGeneratedKeys="true" keyProperty="directorId">
	insert into director_info 	
	(director_id,director_name
	<if test="directorEngName !=null">
	,director_eng_name
	</if>
	)
	SELECT #{directorId},#{directorName}
	<if test="directorEngName !=null">
	,#{directorEngName}
	</if>
	FROM dual
	WHERE not exists (SELECT * FROM director_info WHERE director_id=#{directorId})
</insert>
<insert id="insertStill" parameterType="still" useGeneratedKeys="true" keyProperty="stillId">
	<if test="stillAddr !=null">
	insert into movie_still_img (movie_id,still_addr) values (#{movieId},#{stillAddr})
	</if>
</insert>
<insert id="insertMovie" parameterType="movie" useGeneratedKeys="true" keyProperty="movieId">
	insert into movie_info
	(movie_title
	<if test="movieEngTitle !=null">
	,movie_eng_title
	</if>
	<if test="country !=null">
	,country
	</if>
	<if test="company !=null">
	,company
	</if>
	<if test="openingDate !=null">
	,opening_date
	</if>
	,plot,showtimes,viewing_class
	<if test="keyword !=null">
	,keyword
	</if>
	,numbers_hits,update_date
	<if test="posterAddr !=null">
	,poster_addr
	</if>
	<if test="previewAddr !=null">
	,preview_addr
	</if>
	)
	 values 
	(movie_title
	<if test="movieEngTitle !=null">
	,#{movieEngTitle}
	</if>
	<if test="country !=null">
	,#{country}
	</if>
	<if test="company !=null">
	,#{company}
	</if>
	<if test="openingDate !=null">
	,#{openingDate}
	</if>
	,#{plot},#{showtimes},#{viewingClass}
	<if test="keyword !=null">
	,#{keyword}
	</if>
	, 0 , now()
	<if test="posterAddr !=null">
	,#{posterAddr}
	</if>
	<if test="previewAddr !=null">
	,#{previewAddr}
	</if>
	)
</insert>

<insert id="insertStarring" parameterType="hashmap">
	insert into starring values
	(#{movieId},#{actorId},#{role})
</insert>

<insert id="insertMovieDirector" parameterType="hashmap">
	insert into movie_director values
	(#{directorId},#{movieId})
</insert>

<insert id="insertMovieGenre" parameterType="hashmap">
	insert into movie_genre values (#{genreId},#{movieId})
</insert>
 <select id="selectActor" parameterType="actor" resultType="actor">
 	select * from actor_info where
 	actor_reg_id = #{actorRegId} 
 	<if test="actorName != null">
 	AND actor_name = #{actorName} 
 	</if>
 	<if test="actorEngName != null">
 	AND actor_eng_name = #{actorEngName} 
 	</if>
 </select>
 <select id="selectDirector" parameterType="director" resultType="director">
 	SELECT * FROM director_info where
 	director_id = #{directorId}
 </select>
</mapper>  