@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* 다이어리 입력 헤더 */
.insertDiaryTop {
	font-size: 30px;
	color: black;
	font-weight: bold;
}

/* 날짜 출력 div */
.insertDiaryDate {
	font-size: 20px;
}

/* 테이블 설정 */
.table th, .table td {
	vertical-align: middle;
}

td:first-child {
	text-align: center;
}

/* myDiary css */

.btnDiaryList {
	width:100px;
    background-color: black;
    border: none;
    color:#fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
	border-radius:10px;
}

#diaryDetailTitle {
    border-bottom: solid 2px black;
}

h2, h3, p, li, td, tr, th {
font-family: 'Do Hyeon', sans-serif;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}

th {
	font-size: 25px;
}

/* 등록, 수정, 삭제 버튼 */
#btnRegisterDiary, #btnDiaryModify, #btnDiaryDelete {
font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
	width: 140px;
	height: 45px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: white;
	background-color: black;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

#btnRegisterDiary:hover {
	background-color: black;
	box-shadow: 0px 15px 20px gray;
	color: #fff;
	transform: translateY(-7px);
}

#btnDiaryModify:hover {
	background-color: black;
	box-shadow: 0px 15px 20px gray;
	color: #fff;
	transform: translateY(-7px);
}

#btnDiaryDelete:hover {
	background-color: black;
	box-shadow: 0px 15px 20px gray;
	color: #fff;
	transform: translateY(-7px);
}

/* 마이 다이어리 페이지 상단 */
.myDiaryHeader {
	color: white;
	text-shadow: 1px 1px 5px gray;
}

.myRightTap {
    width: 100%;
}

.diaryDetail {
font-family: 'Do Hyeon', sans-serif;
	font-size: 50px;
	text-align: center;
}

#diaryDetail span {
	font-size: 20px;
}

/* 테이블 반응형 */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	#diaryListAjax table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	#diaryListAjax thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	#diaryListAjax tr { border: 1px solid #ccc; }
	
	#diaryListAjax td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	#diaryListAjax td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	#diaryListAjax td:nth-of-type(1):before { content: "이미지"; }
	#diaryListAjax td:nth-of-type(2):before { content: "다이어리 제목"; }
	#diaryListAjax td:nth-of-type(3):before { content: "영화 제목"; }
	#diaryListAjax td:nth-of-type(4):before { content: "조회수"; }
}

/* 다이어리 내용 보여주는 태그 */
pre {
font-family: 'Do Hyeon', sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
}

/* 반응형 도전~~~~~~~~~~ */
@media screen and (max-width:767px) {
	.myleftTap {width:50%; max-width:200px;}
	.diaryDetail {width:70%;}
}

@media screen and (min-width:768px) and (max-width:959px) {
	.myleftTap {width:30%;}
	.diaryDetail {width:70%;}
}

.insertDiaryTop, .insertDiaryDate {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 50px;
	font-weight: 600;
}

#viewingDate, #file, #diaryTitle, #movieTitle, td {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 30px;
	font-weight: 600;
}